# Entorno virtual
venv/
Scripts/
Lib/
# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.cfg
# Configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuración específicos de sistema operativo
.DS_Store
Thumbs.db